// Navigation code here
.top-header {
    background: #f4f4f4;

    .nav {
        display: flex;
        flex-direction: column;
        text-align: center;

        header {
            font-size: 4.8rem;
            padding: 1%;
        }

        nav {
            display: flex;
            justify-content: center;
            padding: 1%;

            a {
                width: 13%;
                padding: 1%;
                text-decoration: none;
                color: @main-font-color;
                font-size: 1.6rem;
            }
        }
    }
}